.send-pg_SDC {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100vw;
  background: var(--Dark-Dark--100, #0e1928);
}
.backbtnSDC {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  float: left;
  top: 1.2rem;
  left: 1.25rem;
}

.msgheading_SDC {
  width: 85vw;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msgheading_SDC span {
  color: var(--Accent-Accent--03-Accent-03, #fbff08);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Saira SemiCondensed Bold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.msgSubheading_SDC {
  width: 65vw;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msgSubheading_SDC span {
  color: var(--Light-Light--70, #bcc9da);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 2px 0px #161716;
  font-family: Gilroy;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ques_ans_container_SDC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 28.17vh;
  flex-shrink: 0;
  margin-top: 4.2vh;
  border-radius: var(--large, 0.75rem);
  background: var(--Accent-Accent--02-Accent-02-neon, #ff5af9);
}
.ques_SDC {
  color: var(--Dark-Dark--100, #0e1928);
  /* width: 18.2rem; */
  width: 70vw;
  margin-bottom: 0.5vh;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Gilroy;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.ans_area_SDC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 82vw;
  height: 8.3vh;
  flex-shrink: 0;
  margin-top: 3vh;
  box-sizing: border-box;
  padding: 0.75rem;
  border-radius: var(--large, 0.75rem);
  background: var(--Accent-Accent--03-Accent-03---Light, #feffb1);
  border: none;
  position: relative;
}
.prof_SDC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 1rem;
}
.prof_SDC img {
  width: 14vw;
  height: 5.6vh;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}

.Blur_text_SDE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42vw;
  color: var(--Dark-Dark--100, #0e1928);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Gilroy;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; 
  filter: blur(4px); 
}

.lock_SDC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 1.5rem;
}
.lock_SDC img {
  width: 10vw;
  height: 5vh;
}

.nxtbtntp_SDC {
  display: flex;
  width: 56.5vw;
  height: 5.6vh;
  padding: 0.9375rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 0px;
  border-radius: 1.5rem;
  background: var(--Primary-Primary-100, #c6ff00);
  position: fixed;
  bottom: 2rem;
}

.nxtbtntp-txt_SDC {
  color: var(--Neutral-Rich-Dark, #090909);
  font-family: Gilroy;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
